
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499674539925'); /* IE9*/
  src: url('iconfont.eot?t=1499674539925#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499674539925') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499674539925') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499674539925#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuidi1:before { content: "\e600"; }

.icon-shui:before { content: "\e66c"; }

.icon-dingwei:before { content: "\e65c"; }

.icon-quanbu:before { content: "\e641"; }

.icon-nongye1:before { content: "\e7c7"; }

.icon-huoche1:before { content: "\e6a6"; }

.icon-paifang:before { content: "\e9a1"; }

